/* Stylesheet for resizing and centering images */
.img-responsive {
    width: 100px;        /* Fixed width for all images */
    height: auto;        /* Maintain aspect ratio */
    display: block;      /* Ensures the image is treated as a block-level element */
    border: 0;           /* Removes any default border that might be applied */
}

body {
    padding-top: 120px;  /* Add padding to the top of the body element */
    padding-left: 380px;
}

.container {
    text-align: center;  /* Centers the container's contents */
    padding: 20px;       /* Adds some padding around the content for better spacing */
    display: flex;
    justify-content: center;
    width: 100%;         /* Ensures the container takes full width */
}


.feature {
    display: flex;       /* Use flexbox to align the image and text */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Center the content horizontally */
    margin-bottom: 20px; /* Add some spacing between feature sections */
    width: 100%;         /* Optional: Set a specific width or max-width if needed */
}

.feature img {
    margin-right: 20px;  /* Add some spacing between the image and text */
}

.feature-content {
    flex: 1;             /* Allow the text content to grow and fill the remaining space */
}

.feature h2 {
    color: #333;
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    margin-top: 100px;
    width: 100%;
}