/* Define a cohesive color scheme */
:root {
    --primary-color: #4facf2; /* Blue */
    --secondary-color: #6c757d; /* Gray */
    --success-color: #28a745; /* Green */
    --error-color: #dc3545; /* Red */
    --warning-color: #e68525;
}

@font-face {
    font-family: 'TeXGyreAdventor';
    src: local('TeX Gyre Adventor'), /* Use local font if available */
         url('texgyreadventor-regular.woff2') format('woff2'),
         url('texgyreadventor-regular.woff') format('woff'),
         url('texgyreadventor-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Global styles */
body {
    background-image: url('background2.jpg');
    background-size: cover; /* Ensure the background covers the entire viewport */
    background-repeat: no-repeat; /* Prevent the background from repeating */
}

h1 {
    font-family: 'TeXGyreAdventor', sans-serif; /* Set fantasy font for header */
    color: black; /* Set the color to black */
    font-weight: bold; /* Increase heading emphasis */
    position: absolute; /* Position the headline */
    top: 0; /* Position the headline at the top of the page */
    left: 50%; /* Move the headline to the horizontal center */
    transform: translateX(-50%); /* Center the headline horizontally */
}

/* Form styles */
#taskForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%; /* Set the width of the form */
    margin: 0 auto; /* Center the form horizontally */
    position: relative; /* Ensure form is positioned relative to the body */
    margin-top: 100px;
}

#taskForm > * {
    margin: 5px; /* Adjust margin for all form elements */
}

/* Adjust widths and margins for specific elements */
#taskInput,
#taskDueDate,
#taskPriority {
    width: calc(33.3% - 10px); /* Set width for each input */
}

/* Add Task button style */
#taskForm button[type="submit"] {
    flex: 1; /* Take up remaining space */
    padding: 10px 20px; /* Adjust padding */
    background-color: #007bff; /* Blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#taskForm button[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade of blue */
}

#taskList {
    width: 50%; /* Set the width to occupy half of the screen */
    margin: 40px 0 0 0; /*  margin: 50px auto 0; */
}

/* Adjust task description to be on its own line */
label[for="taskInput"] {
    display: block;
    width: 100%;
}

/* Adjust positioning of specific labels */
label[for="recurrence"],
label[for="reminderTime"] {
    margin-top: 20px; /* Increase margin-top */
    padding-top: 5px; /* Increase padding-top */
}

/* Input field and select styles */
input[type="text"],
input[type="number"],
input[type="datetime-local"],
select {
    padding: 7px;
    border: 1px solid #ced4da; /* Gray border */
    border-radius: 5px;
    font-size: 0.9em; /* Decrease font size */
    width: calc(50% - 10px); /* Reduce width by half */
    margin-right: 5px; /* Adjust margin */
}

/* Adjust the width of the input field for the number next to "Reminder Time" label */
#reminderTime {
    width: 60px; /* Set width */
}

/* Adjust the width of the select box for the unit time */
#reminderUnit {
    width: 100px; /* Set width */
}

/* Adjust the width of the select box for the recurrence */
#recurrence {
    width: 100px; /* Set width */
}

/* Adjust the width of the select box for the priority */
#taskPriority {
    width: 120px; /* Set width */
}

/* Adjust the width of the input field for date and time selection */
#taskDueDate {
    width: 150px; /* Set width */
    border: none; /* Remove border */
    font-size: 1em;
}

/* Button styles */
button,
.delete-btn {
    padding: 5px 10px; /* Adjust padding */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: transparent; /* Make background transparent */
}

button[type="submit"] {
    background-color: #007bff; /* Blue */
    color: white;
}

button[type="submit"]:hover,
.delete-btn:hover {
    background-color: #799ab8; /* Darker shade of blue */
}

.delete-btn::after {
    color: white; /* Set color to white */
}

/* Label styles */
label {
    display: block;
    margin-bottom: 5px;
    font-family: 'TeXGyreAdventor', sans-serif; /* Separate font for labels */
    font-size: 0.9em; /* Decrease font size */
}

/* Task list styles */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.completed {
    transition: transform 0.5s ease;
}

.delete-btn {
    position: absolute; /* Position absolutely */
    top: 50%; /* Align vertically */
    right: 10px; /* Align to the right */
    transform: translateY(-50%); /* Adjust vertical alignment */
}

/* Priority styles */
.priority-btn {
    padding: 5px 10px; /* Adjust padding */
    cursor: pointer;
    border: 1px solid #ced4da; /* Gray border */
    border-radius: 5px;
    font-size: 0.9em; /* Decrease font size */
    width: auto; /* Set width to fit content */
}

/* Priority styles */
.priority-high,
.priority-medium,
.priority-low {
    font-family: 'TeXGyreAdventor', sans-serif; /* Set font family */
}

/* Priority styles */
.priority-high {
    color: var(--error-color); /* Use error color for high priority */
}

.priority-medium {
    color: var(--warning-color); /* Define warning color for medium priority */
}

.priority-low {
    color: var(--success-color); /* Use success color for low priority */
}


/* Task text styles */
.task-text {
    margin-left: 5px;
    font-family: 'TeXGyreAdventor', sans-serif;
}

.task-checkbox:checked + .task-text {
    text-decoration: line-through;
    color: var(--secondary-color); /* Use secondary color for completed tasks */
}

/* Due date styles */
.due-date {
    padding: 7px;
    border: none; /* Remove border */
    border-radius: 5px;
    font-size: 0.9em; /* Decrease font size */
    width: 150px; /* Set width */
    font-family: 'TeXGyreAdventor', sans-serif;
}

.priority-btn {
    font-family: 'TeXGyreAdventor', sans-serif; /* Set font family */
}

#taskForm button[type="submit"] {
    flex: 1; /* Take up remaining space */
    padding: 10px 20px; /* Adjust padding */
    background-color: #4f98b7; /* Updated background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#taskForm button[type="submit"]:hover {
    background-color: #3c7d83; /* Darker shade of green on hover */
}

/* Toolbar styles */
.toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    position: fixed;
    top: 0;
    right: 0;
    width: 200px; /* Adjust width as needed */
    height: 100%; /* Cover the entire height of the viewport */
    background-color: rgb(247, 241, 233); /* Change to white background */
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: transform 0.3s ease; /* Add transition for smooth animation */
    transform: translateX(100%);
}

.open {
    transform: translateX(0);
}

.toolbar.closed {
    transform: translateY(0) translateX(100%);
}

#toggleButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#toggleButton::before {
    content: "\2630"; /* Unicode for three horizontal lines (hamburger icon) */
    font-size: 24px;
    color: #333; /* Dark gray color */
}

#toggleButton:hover {
    background-color: #4f98b7; /* Darker shade of blue on hover */
}

.toolbar-button {
    padding: 10px;
    background-color: #555; /* Dark gray background for buttons */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.toolbar-button:hover {
    background-color: #799ab8; /* Slightly lighter gray on hover */
}

.openToolbarButton {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333; /* Dark gray color */
    z-index: 999; /* Ensure it's above other elements */
    transition: background-color 0.3s ease;
}

.openToolbarButton:hover {
    background-color: #4f98b7;
}

.openToolbarButton.hidden {
    display: none;
}

.toolbar-button {
    margin: 5px 0; /* Add vertical margin to separate buttons */
    padding: 10px 55px;
    background-color: transparent; /* Dark gray background for buttons */
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.toolbar-button:hover {
    background-color: #4f98b7; /* Slightly lighter gray on hover */
}